In [18]:
library("dplyr")

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [66]:
df = read.table("C:\\Users\\Dell7400\\Documents\\Ale\\Facu\\Multivariado\\datos\\arboles_modi.csv",sep=",",header=TRUE)

In [67]:
names(df)

[1] "ï..injerto" "x1"         "x2"         "x3"         "x4"

In [75]:
df_a = df[df$ï..injerto=="a",]
df_b = df[df$ï..injerto=="b",]
df_c = df[df$ï..injerto=="c",]

df_a = select(df_a,x1,x2,x3,x4)
df_b = select(df_b,x1,x2,x3,x4)
df_c = select(df_c,x1,x2,x3,x4)

In [76]:
s_a = var(df_a)
s_b = var(df_b)
s_c = var(df_c)
s_a
s_b
s_c

   x1          x2         x3          x4
x1 0.003392857 0.02027179 0.003739286 0.001778929
x2 0.020271786 0.20069070 0.058043036 0.045789554
x3 0.003739286 0.05804304 0.035183929 0.028483036
x4 0.001778929 0.04578955 0.028483036 0.028292696

   x1          x2         x3          x4
x1 0.003421429 0.02577321 0.008842857 0.003232857
x2 0.025773214 0.30478584 0.149833571 0.083151786
x3 0.008842857 0.14983357 0.115742857 0.071105714
x4 0.003232857 0.08315179 0.071105714 0.056464286

   x1         x2         x3         x4
x1 0.00685000 0.03141786 0.00870000 0.00600250
x2 0.03141786 0.15429564 0.04799286 0.03286118
x3 0.00870000 0.04799286 0.09508571 0.06799500
x4 0.00600250 0.03286118 0.06799500 0.05339255